.footer{    
    width:100%;
    display:flex;
    overflow:hidden;
    padding:10px;
    background-color:var(--contrast);
}

.footer__logo{
    flex:1;
    display:flex;
    width: 65px;
    height:65px;
    border-radius: 10px;
    margin: 15%;
}


.footer__menu{
    flex:1.2;
    display:flex;
    align-items:center;
    justify-content:center;
    list-style-type: none;
    z-index:5;
}

.footer__menu a{
    color: #fff;
}

.footer__menu li{
    font-weight:500;
    color: #fff;
    padding:10px;
    align-items:end;
    font-size:12px;
    text-transform: uppercase;
    line-height:20px;
    border-radius: 3px;
    cursor: pointer;
    z-index:2;
}

.footer__menu li:hover {
    
    color: #fff;
    background-color: var(--hover-cyan);
    transition: 750ms ease-in-out;
    box-shadow: inset -2px -2px 3px #ffffff73, inset 3px 2px 2px rgba(100, 75, 100, .40 );
}

.sm-icon{
    width:32px;
}

.sm-icon-git{
    width:32px;
    border-radius:50%;
}

.sm-avatar{    
    width:100px;
    border-radius:50%;
}

.footer td{ 
    width: 75px;
}